  <table class="table">
    <tbody>
        <% book.book_comments.each do |book_comment| %>
        <tr>
          <td>
            <%= link_to user_path(book_comment.user) do %>
              <%= image_tag book_comment.user.get_profile_image,size:"50x50" %></p>
              <%= book_comment.user.name %>
            <% end %>
          </td>
          <td><%= book_comment.comment %></br>
              <%= book_comment.created_at.strftime('%Y/%m/%d') %></td>
          <td>
            <% if book_comment.user == current_user %>
            <!--ルーティングでidがそれぞれ何を表しているのかを()の中で定義する(books/book_id/book_comments/:id)-->
              <%= link_to "コメントを削除",book_book_comment_path(book_id: book_comment.book_id, id: book_comment.id), method: :delete, local: true, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger pull-right"%>
            <% end %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>