   <div class="container">
     <% book.book_comments.each do |book_comment| %>
       <div class="row border-bottom border-top">
         <div class="col-md-4 mt-3">
            <%= link_to user_path(book_comment.user), class:"text-dark" do %>
              <%= image_tag book_comment.user.get_profile_image,size:"70x70" %></br>
              <i class="fas fa-user"></i>  <%= book_comment.user.name %></br>
            <% end %>
            <i class="fas fa-calendar-day"></i>  <%= book_comment.created_at.strftime('%Y/%m/%d') %>
         </div>
         <div class="col-md-8 mt-3">
            <%= book_comment.comment %></br>
         </div>
         <div class="col-md-12 mt-3 mb-3">
           <% if book_comment.user == current_user %>
            <!--ルーティングでidがそれぞれ何を表しているのかを()の中で定義する(books/book_id/book_comments/:id)-->
            <%= link_to "コメントを削除",book_book_comment_path(book_id: book_comment.book_id, id: book_comment.id), method: :delete, local: true, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger btn-sm pull-right"%>
           <% end %>
         </div>
       </div>
     <% end %>
   </div>