<div class="container">
  <div class="row">
   <h3>レビュアー</h3>


   <% @users.each do |user| %>
    <div class="col-5">
      <%= link_to user_path(user) do %>
       <%= image_tag user.get_profile_image, size: "50x50" %>
      <% end %>
    </div>

    <div class="col-7">
      <table class="table">
        <tr>
          <td>
            名前：<%= user.name %>
          </td>
        </tr>
        <tr>
          <td>
            自己紹介：<%= user.introduction %>
          </td>
        </tr>
        <tr>
          <td>
            好きな本のジャンル：<%#= user.book.genre %>
          </td>
        </tr>
        <tr>
          <td>
            レビュー：
            <%= link_to user_path(user) do %>
              公開<%= user.books.count %>件
            <% end %>
          </td>
        </tr>
        <tr>
          <td>フォロー数：</td>
        </tr>
        <tr>
          <td>フォロワー数：</td>
        </tr>
        <tr>
          <td>
            コメント件数：<%= link_to user.receive_comment_count, user_path(user) %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
 </div>
</div>