<div class="container main-visual">
  <div class="row justify-content-center">
    <h3 class="p-5"><span class="header">”<%= @user.name %>”さんとの <i class="fas fa-comments"></i> チャット</span></h3>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="text-align: left; font-size: 20px;"><i class="fas fa-user"></i>   <%= current_user.name %></th>
                <th style="text-align: right; font-size: 20px;"><i class="fas fa-user"></i>   <%= @user.name %></th>
              </tr>
            </thead>
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
            <tbody>
              <tr>
                <th>
                  <p style="text-align: left;"><%= chat.message %></p>
                </th>
                <th></th>
              </tr>
            <% else %>
              <tr>
                <th></th>
                <th>
                  <p style="text-align: right;"><%= chat.message %></p>
                </th>
              </tr>
            </tbody>
            <% end %>
          <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= form_with model: @chat, remote: true do |f| %>
        <%= f.text_field :message, class:"col-8 px-0" %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "送信", class:"btn btn-sm btn-outline-success" %>
      <% end %>
    </div>
  </div>
</div>