<%= form_with model: @book, url: book_path(@book), method: :patch, local: true do |f| %>
<!--エラーメッセージ-->
<%= render 'layouts/error', model: @book %>

  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :著者 %>
    <%= f.text_field :author, class: 'form-control book_author' %>
  </div>
  <div class="form-group">
    <%= f.label :ジャンル %>
    <%= f.select :genre, options_for_select([["選択して下さい"], ["文芸"], ["実用書"],  ["ビジネス書"], ["絵本・児童書"],["学習参考書"],["専門書"],["コミック、雑誌"]]) %>
  </div>
  <div class="form-group">
    <%= f.label :説明 %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>

  <!--☆レビュー-->
  <!--評価-->
  <div class="form-group" id="star">
    <%= f.label :評価 %>
    <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
  </div>

  <!--評価javascript-->
  <script>
  $(document).on('turbolinks:load', function() {
    $('#star').empty();
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'book[rate]',
      score: <%= @book.rate %>,
      half: true,
    });
  })
  </script>

  <div class="form-group">
    <%= f.submit 'レビュー更新', class: 'btn btn-success' %>
  </div>
<% end %>