<div class="container main-visual">
  <div class="row justify-content-center">
    <h3 class="p-5"><span class="header">レビュー編集</span></h3>
  </div>

  <%= form_with model: @book, url: book_path(@book), method: :patch, local: true do |f| %>
  <!--エラーメッセージ-->
  <%= render 'layouts/error', model: @book %>
    <form>
      <div class="form-group row justify-content-center">
        <%= f.label :本の画像, class:"col-2 col-form-label"  %>
        <div class="col-5">
          <%= f.file_field :book_image, class: "form-control-file", accept: 'image/*' %>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <%= f.label :タイトル, class:"col-2 col-form-label" %>
          <div class="col-5">
            <%= f.text_field :title, class: 'form-control' %>
          </div>
      </div>
      <div class="form-group row justify-content-center">
        <%= f.label :著者, class:"col-2 col-form-label" %>
          <div class="col-5">
            <%= f.text_field :author, class: 'form-control book_author' %>
          </div>
      </div>
      <div class="form-group row justify-content-center">
        <%= f.label :ジャンル, class:"col-2 col-form-label" %>
          <div class="col-5 mt-1">
            <%= f.select :genre, options_for_select([["選択して下さい"], ["文芸"], ["実用書"],  ["ビジネス書"], ["絵本・児童書"],["学習参考書"],["専門書"],["コミック、雑誌"]]), class: "form-control" %>
          </div>
      </div>
      <div class="form-group row justify-content-center ">
        <%= f.label :レビュー, class:"col-2 col-form-label" %>
          <div class="col-5">
            <%= f.text_area :body, class: 'form-control book_body' %>
          </div>
      </div>

      <!--☆レビュー-->
      <!--評価-->
      <div class="form-group row justify-content-center">
        <%= f.label :評価, class:"col-2 col-form-label" %>
        <div class="col-5 mt-2" id="star">
          <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
        </div>
      </div>

      <!--評価javascript-->
      <script>
      $(document).ready(function() {
        $('#star').empty();
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'book[rate]',
          score: <%= @book.rate %>,
          half: true,
        });
      })
      </script>

      <div class="form-group row justify-content-center">
        <%= f.submit 'レビュー更新', class: 'btn btn-success col-2' %>
      </div>
    </form>
  <% end %>
</div>