<div class="container main-visual">
  <div class="row justify-content-center">
    <h3 class="p-5"><span class="header">レビュー一覧</span></h3>
  </div>
  <!--ソート機能-->
  <div class="row">
    <div class="col-md-12 col-text-right">
      <span><%= link_to "新着順",books_path(sort: "new_arrival_order"), class: "btn btn-sm btn-link" %></span>
      <span>|</span>
      <span><%= link_to "投稿順",books_path(sort: "posting_order"), class: "btn btn-sm btn-link" %></span>
      <span>|</span>
      <span><%= link_to "高評価順",books_path(sort: "highly_rated"), class: "btn btn-sm btn-link" %></span>
      <span>|</span>
      <span><%= link_to "低評価順",books_path(sort: "low_rating"), class: "btn btn-sm btn-link"  %></span>
    </div>
  </div>

  <% @books.each do |book| %>
  <div class="card mx-auto mt-5 shadow-lg" style="width:30rem;">
    <%= link_to book_path(book) do %>
       <%= image_tag book.get_book_image,size:"300x400", class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-md-1 offset-1">
          <%= link_to user_path(book.user) do %>
            <%= image_tag book.user.get_profile_image, size:'120x120', class:"mt-3 rounded-circle" %>
          <% end %>
        </div>
        <div class="col-md-7 offset-3">
          <p class="card-title">
            <%= link_to(book_path(book), class:"text-dark") do %>
              <strong><i class="fas fa-book"></i><span>   <%= book.title %></span></strong>
            <% end %>
          </p>
          <p class="card-text"><i class="fas fa-pen"></i><strong>   <%= book.author %></strong></p>
          <p class="card-text"><%= render "static_rate", book: book %></p>
          <p class="card-text" id="favorite_buttons_<%= book.id %>">
            <%= render "favorites/favorite-btn", book: book %>
          </p>
          <p class="card-text"><i class="fas fa-hand-point-right"></i> <strong>点数：</strong><%= book.score %></p>
          <span><i class="fas fa-user"></i>   <%= book.user.name %> ｜ </span>
          <span><%= link_to "#{book.book_comments.count} コメント", book_path(book), class:"text-dark" %></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="d-flex justify-content-center mt-5"><%= paginate @books %></div>
</div>

