<div id="container">
    <div id="theTarget">
        <div class="book_shelf_2"></div>
        <div class="books"></div>
        <div class="kosho"></div>
        <div class="book_shelf_1"></div>
        <div class="yousho"></div>
    </div>
</div>

<div class="container">
   <div class="row justify-content-center">
    <h3 class="p-5"><span class="header"><i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>いいねランキング</span></h3>
   </div>

   <!--ランキング表示-->
   <div class="row text-center">
   <% @all_ranks.each.with_index(1) do |book,i| %>
      <div class="col-md-4">
        <div class="row mb-4">
          <div class="col-md-12 ranking-number">
            <i class="fas fa-trophy fontawesome-color fa-xs"></i><strong>第<%= i %>位</strong><i class="fas fa-trophy fontawesome-color fa-xs"></i>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <p>
              <%= link_to book_path(book) do %>
                <%= image_tag book.get_book_image, size:'200x200' %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <p><strong><i class="fas fa-book"></i>   <%= book.title %></strong></p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <p><i class="fas fa-user"></i><strong>   <%= book.author %></strong></li></p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <p><%= render "books/static_rate", book: book %></p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <p><i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>   <%= book.favorites.count %></p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <p>
              <%= link_to book_path(book) do %>
                 <%= render "book_comments/count", book: book %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>