<header class="border border-dark">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#daa520;">
        <div class="container">
          <a class="navbar-brand mr-5" href="/"><%= image_tag 'logo.jpg', size: "300x90" %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <p class="navbar-nav offset-1">
            <% if user_signed_in? %>
              ～ようこそ、<strong><%= current_user.name %></strong>さん！～
            <% end %>
          </p>
          <div class="collapse navbar-collapse header-item" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <%= link_to users_path, class: 'text-dark mr-3' do %>
                  <i class="fas fa-users"></i> レビュアー
                <% end %>
              </li>
              <li>
                <%= link_to books_path ,class: 'text-dark mr-3' do %>
                  <i class="fas fa-book-open"></i> みる
                <% end %>
              </li>
              <li>
                <%= link_to user_path(current_user) ,class: 'text-dark mr-3' do %>
                  <i class="fas fa-address-card"></i> マイページ
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class:"text-dark" do %>
                  <i class="fas fa-sign-out-alt" ::before></i>ログアウト
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to new_user_registration_path, class:"text-dark mr-3" do %>
                  <i class="fas fa-user-plus" ::before></i> 新規会員登録
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path , class:"text-dark" do %>
                  <i class="fas fa-sign-in-alt" ::before></i> ログイン
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
</header>
